<h1 class="Menus-title">Menus</h1>
<div class = "Menus-select">
  <label for="menus">Choose a Menu:</label>
  <select id="menus">
    <% Menu.all.each do |menu| %>
      <option value=<%=menu.name%>><%=menu.name%></option>
    <% end %>
  </select>
</div>
<%= form_with(url: "/menus", method: "post", class: "Menus") do %>
  <p class="Menus-label">Add a Menu:</p>
    <%= text_field_tag 'name', '' , placeholder: "Add-Menu", class: 'Menus-name'
    %>
  <%= button_tag("Add-Menu",type: "submit",class: "Menus-button") %>
<% end %>
