<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <% if @current_user.role == "owner" %>
        <div class="Navigation">
          <%= link_to "Home", new_menu_items_home_path%>
          <%= link_to "Orders", orders_path%>
          <%= link_to "Menus", menus_path%>
          <%= link_to "Users", users_path%>
        </div>
        <%= link_to "Sign-out", destroy_session_path,method: "delete" %>
      <% elsif @current_user.role == "clerk" %>
        <div class="Navigation">
          <%= link_to "Home", new_menu_items_home_path%>
          <%= link_to "Orders", orders_path%>
          <%= link_to "Menus", menus_path%>
        </div>
        <%= link_to "Sign-out", destroy_session_path,method: "delete" %>
      <% else %>
         <div class="Navigation">
          <%= link_to "Home", new_menu_items_home_path%>
         </div>
         <%= link_to "Sign-out", destroy_session_path,method: "delete" %>
      <% end %>
    <% end %>
    <% if flash[:error] %>
      <p class="Flash-error"> <%= flash[:error] %> </p>
    <% end %>
    <% if flash[:success] %>
      <p class="Flash-success"> <%= flash[:success] %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
